<h1 class="header">Кроссворд</h1>
<ul class="menu">
    <li class="menu__item">
        <select name="difficulty" [(ngModel)]="difficulty" id="difficulty">
            <option *ngFor="let item of difLabels" [ngValue]="item">{{
                item[1]
            }}</option>
        </select>
        <label for="difficulty"> cложность</label>
    </li>
    <li class="menu__item">
        <a class="menu__ancor" href="/game/?dificulty={{ difficulty[0] }}">
            Новая игра <br />({{ difficulty[1] }} сложность)
        </a>
    </li>
    <li class="menu__item" *ngFor="let game of games">
        <span class="menu__name">{{ game }}</span>
        <a class="menu__ancor" href="/game/{{ game }}">
            Возобновить игру
        </a>
        <a class="menu__ancor" (click)="delGame(game)">
            Удалить
        </a>
    </li>
</ul>
