<ul class="wrapper">
    <li class="row" *ngFor="let row of grid">
        <div 
            class="cell"
            [ngClass]="{
                'active': cell.words,
                'focus': cell.focus,
                'selected': cell.selected
            }"
            *ngFor="let cell of row">
            <input 
                *ngIf="cell.words"
                class="input"
                [(ngModel)]="cell.val"
                [appSetFocus]="cell.focus"
                (focus)="onFocus(cell)"
                (blur)="onBlur(cell)"
                (click)="onClick(cell)"
                (keyup)="onUp($event, cell)"
                (input)="onInput($event, cell)"
                type="text"
            />
            <div 
                class="quIndex"
                *ngIf="cell.index">
                <span>{{ cell.index }}</span>
            </div>
        </div>
    </li>
</ul>
<div
    class="desc"
    *ngIf="selectedWord">
    <div
        [innerText]="selectedWord.word.description">
    </div>
</div>
<div *ngIf="answer.valid">
    Все верно
</div>
