<div class="loader" *ngIf="load">
    <svg width="38" height="38" viewBox="0 0 38 38" stroke="#000">
        <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
        <circle stroke-opacity="0.5" cx="18" cy="18" r="18"/>
        <path d="M36 18c0-9.94-8.06-18-18-18">
        <animateTransform 
              attributeName="transform" 
              type="rotate" 
              from="0 18 18" 
              to="360 18 18" 
              dur="1s" 
              repeatCount="indefinite"/>
        </path>
        </g>
        </g>
    </svg>
</div>
<div *ngIf="error">
    <h2 class="error">Произошла ошибка <br/>"<span [innerText]="error"></span>"</h2>
</div>
<ul *ngIf="grid.length" class="wrapper">
    <li class="row" *ngFor="let row of grid">
        <div 
            class="cell"
            [ngClass]="{
                'active': cell.words,
                'focus': cell.focus,
                'selected': cell.selected
            }"
            [ngStyle]="{
                'width.px': size.width,
                'height.px': size.height
            }"
            *ngFor="let cell of row">
            <input 
                *ngIf="cell.words"
                class="input"
                [ngStyle]="{
                    'font-size.px': size.font
                }"
                [(ngModel)]="cell.val"
                [appSetFocus]="cell.focus"
                (focus)="onFocus(cell)"
                (blur)="onBlur(cell)"
                (click)="onClick(cell)"
                (keyup)="onUp($event, cell)"
                (input)="onInput($event, cell)"
                type="text"
            />
            <div 
                class="quIndex"
                *ngIf="cell.index">
                <span>{{ cell.index }}</span>
            </div>
        </div>
    </li>
</ul>
<div
    class="desc"
    [ngStyle]="{
        'font-size.px': size.font
    }"
    *ngIf="selectedWord">
    <div
        [innerText]="selectedWord.word.description">
    </div>
</div>
<div 
    class="victory"
    *ngIf="answer.valid">
    Победа
</div>
<a 
    class="back"
    [ngStyle]="{
        'font-size.px': size.font
    }"
    href="/">
    В главное меню
</a>
