.mobile {
    position: relative;
    width: 100%;
    height: 100%;
}
.victory {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 5px #000;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.error {
    color: red;
    text-align: center;
}
.wrapper {
    overflow: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.input {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
}
.row {
    white-space: nowrap;
    background: black;
    text-align: center;
    display: inline-block;
    min-width: 100%;
}
.focus .input {
    background-color: #fcc;
}
.cell.selected {
    border-color: #0A0;
    opacity: 1;
}
.cell.active {
    background: white;
}
.cell.valid {
    background-color: #cfc;
}
.quIndex {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    font-size: 10px;
    left: 2px;
    top: 2px;
}
.cell {
    position: relative;
    opacity: .9;
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid black;
}
.desc {
    width: 100%;
    opacity: .95;
    position: absolute;
    background: #fff;
    box-sizing: border-box;
    border: 2px solid #000;
}
.win .desc {
    display: none;
}
.win .wrapper {
    opacity: 0.3;
}
.desc__content {
    padding: 10px 40px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.desc__close {
    position: absolute;
    border-radius: 50%;
    top: 10px;
    right: 15px;
}
.desc__prev, .desc__next {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 40px;
}
.desc__close:hover,
.desc__prev .fa:hover, .desc__next .fa:hover {
    cursor: pointer;
}
.desc__prev .fa, .desc__next .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.desc__next {
    right: 0;
    text-align: right;
}
.desc__prev {
    left: 0;
}
.back {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
}
